/* Primary styles, resets, etc. */

html {
    background: url('img/groovepaper.png') repeat fixed;
    min-width: 320px;
    overflow-y: scroll;

    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    padding: 2vh 1vw;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    color: #444444;
}

a {
    color: #0088cc;
    text-decoration: none;
    border-bottom: 1px dotted rgba(0, 136, 204, .5);
    transition: all 100ms ease-in-out 0s;
}

a:hover {
    color: #ffffff;
    background: rgb(0, 136, 204);
    border-radius: 1px;
}

header {
    position: relative;
}

h1 {
    font-size: 1.5em;
    border-bottom: 2px solid #006699;
    padding-bottom: 1em;
    text-shadow: 1px 1px 1px #999999;
    margin: 0 0 .2em 0;
    line-height: 1.3;
    color: #444444;
}

h4 {
    color: #004466;
    margin: 01em .3em;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(0, 136, 204);
}

section {
    padding: .2em 0;
}

section ul {
    margin: 0;
    padding: 0 0 0 1.5em;
}

section ul li {
    position: relative;
    list-style: none;
    margin: 0 0 .5em 1em;
    font-size: .9em;
}

ul .scolon li {
    margin-bottom: .5em;
    font-size: .9em;
}

section > ul li:before {
    content: "\0022F1";
    position: absolute;
    left: -3em;
    top: 0.5em;
    color: #0088cc;
    font-size: .5em;
    display: inline-block;
    margin: 0 0 0 0;
    font-weight: bold;
    opacity: .5;
    transform: rotate(45deg);
}

section > ul ul li:before {
    opacity: .2;
}

section p {
    padding: 0 1em;
}

footer {
    font-size: .7em;
}

br {
    line-height: 1.6
}

::selection {
    background: #0cb4cc;
    color: #ffffff;
    text-shadow: none;
}

::-moz-selection {
    background: #0088cc;
    color: #ffffff;
    text-shadow: none;
}

.container {
    position: relative;
    padding: .5em;
    background: #ffffff;
    background: rgba(255, 255, 255, .5);
    border-radius: 3px;
    box-shadow: 0 0px 6px #d9d8d8;
    animation: fadeIn 300ms ease-in;
}

.sub-head {
    color: #999999;
    position: relative;
}

.sub-head.role {
    font-size: .7em;
}

.sub-head.adr {
    font-size: .7em;
}

.logo {
    position: absolute;
    top: 1em;
    right: .5em;
    background: #0088cc;
    font-size: 12px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    padding: 5px;
    border-radius: 30px;
    color: #ffffff;
}

.logo-anim {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    border: 3px solid #0088cc;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 3000ms;
    animation-timing-function: ease-out;
    animation-delay: 2s;
}

.links {
    padding: 0;
    margin: 0;
    text-align: left;
}

.link {
    display: inline;
    text-align: right;
    font-size: .8em;
    line-height: 2;
}

.link a {
    padding: .2em .5em;
}

.scolon li:after {
    content: ";";
    color: #999999;
    font-size: 1em;
    display: inline-block;
    font-weight: bold;
}

.scolon {
    padding: .5em .5em .5em 1em;
}

.title {
    font-size: 16px;
}

.period {
    color: #999999;
}

#me {
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.2;
    transition: opacity 400ms ease-in;
}

#me:hover {
    opacity: 1;
}

.lastupdated {
    float: right;
    color: #888888;
}

/* Non-semantic helper classes */

.bb {
    box-sizing: border-box;
}

.fn {
    position: relative;
}

/* Media Queries non print*/
@media only screen and (max-width: 778px) {
    .fn {
        position: relative;
    }

    #me {
        position: absolute;
        height: 7vw;
        opacity: 1;
        z-index: 1;
    }

    .logo {
        top: 0em;
        margin-left: .5em;
        float: left;
        position: relative;
    }

}

@media only screen and (min-width: 778px) {
    body {
        padding: 1em;
        padding: 2vh 1vw;
    }

    h1 {
        font-size: 3em;
        padding-bottom: 0.8em;
    }

    .container {
        padding: 1em;
        max-width: 768px;
        max-width: 79vw;
    }

    .logo {
        top: 1em;
    }

    .sub-head {
        font-size: .9em;
        top: 0;
    }

    .links {
        text-align: right;
    }

    #me {
        width: 20vw;
    }

}

@media only screen and (min-width: 1400px) {
    .container {
        max-width: 65vw;
    }

    #me {
        width: 25vw;
        opacity: .1;
    }

}

/* Media Queries Print styles.*/
@media print {
    * {
        background: transparent !important;
        color: #333333 !important;
        text-shadow: none !important;
        filter: none !important;
    }

    @page {
        margin: 2em 0.5em;
    }

    h1 {
        position: relative;
    }

    a, a:visited {
        color: #444444 !important;
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
        font-size: .5em;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    /* Don't show links for images, or javascript/internal links */
    pre, block quote {
        border: 1px solid #999999;
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    .container {
        -moz-box-shadow: 0 0 0 #d9d8d8;
        -webkit-box-shadow: 0 0 0 #d9d8d8;
        box-shadow: 0 0 0 #d9d8d8;
    }

    h4 {
        border-bottom: 2px solid #777777;
    }

    #me {
        position: absolute;
        float: right;
        bottom: 0;
        height: 60px;
        opacity: 0.6;
    }

    .logo {
        display: none;
    }

    .pdf {
        display: none;
    }
}

/*Animations*/
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0;

    }
    8% {
        transform: scale(1);
        opacity: 0;
    }
    15% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    50% {
        transform: scale(2);
        opacity: 0.2;
    }
    100% {
        opacity: 0;
        border: 10px solid #ffffff;
        transform: scale(3.2);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
